.auth {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  &__window {
    position: fixed;
    padding: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 650px;
    height: 300px;
    background-color: #353a42;
    border-radius: 10px;
  }
  &__input {
    background-color: #353a42;
    outline: none;
    border: none;
    color: whitesmoke;
    padding: 5px;
    width: 100%;
  }
  &__lable {
    color: #6667ab;
  }
}
